<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>CAS Example Java Web App</title>
</head>
<body>

	<h1>当前为客户端client-springboot1-8091</h1>
	<h2>
		<a href="http://localhost:8091/test/index">客户端client-springboot1-8091</a>
	</h2>
	<h2>
		<a href="http://localhost:8092/test/index">客户端client-springboot2-8092</a>
	</h2>
	<h2>
		<a href="http://localhost:8093/test/index">客户端client-shiro-8093</a>
	</h2>
	<h2>
		<a href="http://localhost:8094/test/index">客户端client-cas-8094</a>
	</h2>
	<h2>
		<a href="http://localhost:8091/loginOut/outDef">loginOut登出-默认页面</a>
	</h2>
	<h2>
		<a href="http://localhost:8091/loginOut/outHand">loginOut登出-指定页面</a>
	</h2>
	<p>A sample web application that exercises the CAS protocol
		features via the Java CAS Client.</p>
	<hr/>

</body>
</html>
